<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tor Explorer{{ ' - ' + pageTitle | title if pageTitle else '' }}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#895CA1">
  </head>
  <body>

    <header role="banner">
      <div class="wrapper clearfix">
        <a class="title" href="/"><h1><i class="icon-tor"></i> Tor Explorer</h1></a>
        <form role="search" class="search" action="/">
          <label>
            <span class="hidden">Search</span>
            <input type="search" placeholder="Search..." name="s" value="{{ req.query.s }}">
          </label>
        </form>
      </div>
    </header>

    <main role="main" class="wrapper">
      {% block main %}{% endblock %}
    </main>

    <footer role="contentinfo">
      <div class="wrapper">
        <a href="/about">About</a>
        <span class="divider">-</span>
        <a target="_blank" href="//github.com/lukechilds/tor-explorer">Source code</a>
        <span class="divider">-</span>
        <a target="_blank" href="//github.com/lukechilds/tor-explorer/issues">Report a bug</a>
        <div class="me">
          A thing by <a target="_blank" href="//github.com/lukechilds">@lukechilds</a>
        </div>
      </div>
    </footer>

  </body>
</html>
