{% extends 'index.html' %}

{% block main %}

  {% if error %}
    <h2>{{ 'Invalid node' if error.statusCode == 400 else error.statusMessage }}</h2>
  {% else %}

    <div class="clearfix">
      <h2 class="node-title">{{ node.type | title }}: {{ node | name }}</h2>

      <section class="status">
        <h3>Status:</h3>
        {{ node | status }}
      </section>
    </div>

    <section class="overview">
      <h3>Overview</h3>
      <dl>
        {% if node.nickname %}
          <dt>Nickname</dt>
          <dd>{{ node.nickname }}</dd>
        {% endif %}
        {% if node.fingerprint %}
          <dt>Fingerprint</dt>
          <dd>{{ node.fingerprint }}</dd>
        {% endif %}
        {% if node.hashed_fingerprint %}
          <dt>Hashed Fingerprint</dt>
          <dd>{{ node.hashed_fingerprint }}</dd>
        {% endif %}
        {% if node.advertised_bandwidth %}
          <dt>Advertised Bandwidth</dt>
          <dd>{{ node | bandwidth }}</dd>
        {% endif %}
        {% if node.flags.length %}
          <dt>Flags</dt>
          {% for flag in node.flags %}
            <dd>{{ flag }}</dd>
          {% endfor %}
        {% endif %}
      </dl>
    </section>

    <section class="config">
      <h3>Config</h3>
      <dl>
        {% if node.or_addresses.length %}
          <dt>Or Addresses</dt>
          {% for address in node.or_addresses %}
            <dd>{{ address }}</dd>
          {% endfor %}
        {% endif %}
        {% if node.dir_address %}
          <dt>Dir Address</dt>
          <dd>{{ node.dir_address }}</dd>
        {% endif %}
        {% if node.consensus_weight %}
          <dt>Consensus Weight</dt>
          <dd>{{ node.consensus_weight }}</dd>
        {% endif %}
        {% if node.transports.length %}
          <dt>Transport Protocols</dt>
          {% for transportProtocol in node.transports %}
            <dd>{{ transportProtocol }}</dd>
          {% endfor %}
        {% endif %}
        {% if node.exit_policy.length %}
          <dt>Exit Policy</dt>
          {% for rule in node.exit_policy %}
            <dd>{{ rule }}</dd>
          {% endfor %}
        {% endif %}
        {% if node.host_name %}
          <dt>Hostname</dt>
          <dd>{{ node.host_name }}</dd>
        {% endif %}
        {% if node.as_number %}
          <dt>AS Number</dt>
          <dd>{{ node.as_number }}</dd>
        {% endif %}
        {% if node.as_name %}
          <dt>AS Name</dt>
          <dd>{{ node.as_name }}</dd>
        {% endif %}
        {% if node.platform %}
          <dt>Platform</dt>
          <dd>{{ node.platform }}</dd>
        {% endif %}
        {% if node.type %}
          <dt>Type</dt>
          <dd>{{ node.type | title }}</dd>
        {% endif %}
      </dl>
    </section>

    <section class="meta">
      <h3>Meta</h3>
      <dl>
        {% if node.contact %}
          <dt>Contact</dt>
          <dd>{{ node.contact }}</dd>
        {% endif %}
        {% if node.country_name %}
          <dt>Country</dt>
          <dd>{{ node.country_name }}</dd>
        {% endif %}
        {% if node.region_name %}
          <dt>Region</dt>
          <dd>{{ node.region_name }}</dd>
        {% endif %}
        {% if node.city_name %}
          <dt>City</dt>
          <dd>{{ node.city_name }}</dd>
        {% endif %}
      </dl>
    </section>

  {% endif %}

{% endblock %}
