/* Global styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #b24592;
  background: linear-gradient(to left, #b24592 , #f15f79);
  color: #222;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #f15f79;
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: #b24592;
}

h1,
h2 {
  margin-top: 0;
}

.wrapper {
  width: calc(100% - 2em);
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
header {
  background: #fff;
  box-shadow: 0px 3px rgba(255, 255, 255, 0.66);
  margin-bottom: 2em;
}

header .wrapper {
  display: flex;
}

header .title {
  padding: 1em 0;
}

h1 {
  margin: 0;
}

.search {
  flex: 1;
  margin-left: 5em;
}

.search .desc {
  display: none;
}

.search input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  width: 100%;
  -webkit-appearance: none;
  height: 100%;
  border: 1px solid #eee;
  border-width: 0 1px;
  font-size: 28px;
  padding: 0 0.2em;
}
.search input:focus {
  outline: 0;
}

/* Main */
main {
  color: #fff;
  flex: 1;
}

main a {
  color: #fff;
  text-decoration: underline;
}
main a:hover {
  color: rgba(255,255,255,0.75);
}

/* Listing page */
table {
  font-family: "Source Code Pro", Consolas, monospace;
  width: 100%;
}

th,
td {
  padding: 0.4em;
  background: rgba(255, 255, 255, 0.1);
}
th {
  font-weight: normal;
  background: rgba(255, 255, 255, 0.3);
}
tr:nth-of-type(even) td {
  background: rgba(255, 255, 255, 0.2);
}

td:first-child {
  text-align: center;
}

.pagination {
  margin-top: 1em;
}

.pagination a {
  text-decoration: none;
  font-family: "Georgia", "Apple Symbols", serif;
  font-size: 3em;
  line-height: 0.3em;
}

.pagination .prev {
  float: left;
}
.pagination .next {
  float: right;
}

.pagination .desc,
.pagination .divider {
  display: none;
}

/* Node page */
.node-title {
  float: left;
}

.status {
  float: right;
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-family: "Source Code Pro", Consolas, monospace;
}

.status h3 {
  display: inline;
}

dl {
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
  font-family: "Source Code Pro", Consolas, monospace;
}

dt:not(:first-child) {
  margin-top: 1em;
}

dd {
  margin: 0.2em 0 0 2em;
}

/* Footer */
footer {
  margin-top: 2em;
  padding: 1em 0;
  background: #fff;
}
